<?xml version = "1.0" encoding = "UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >

<suite name="xml suite">
    <listeners>
        <listener class-name="by.a1qa.testreport.ScreenshotListener"/>
    </listeners>
    <test name="Onboarding Test">
        <classes>
            <class name="by.a1qa.tests.OnboardingTest"/>
        </classes>
    </test>
    <test name="Add ticket to basket Test">
        <classes>
            <class name="by.a1qa.tests.AddTicketToBasketTest"/>
        </classes>
    </test>
</suite>